<title>Home</title>
{% extends 'base.html' %}
{% load static %}


{% block content %}
<body style="background-image:url('{% static "images/bg2.jpg" %}'); background-repeat:no-repeat;background-size:cover;">>
<p style="color: antiquewhite;" class="pt-5 text-black" >
    ALTOS Technologies
    We Deal With The Aspects Of Professional IT Solutions
    Elevate your business with Altos Technologies.
    As a software development company in India, we craft custom websites and software solutions to fit your unique
    business needs.
    Our team of experts delivers solutions that streamline operations, boost efficiency, and create a lasting
    impact. Partner with us to take your success to new heights with quality and excellence at the forefront.
</p>
</body>
{% endblock %}